<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="Restaurant Listing" />
    <meta property="og:description" content="A list of wonderful restaurants" />
    <meta property="og:image" content="{{ url_for('static', filename='banner.jpg') }}" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

    <title>Restaurant Listing</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        .wrap {
            width: 90%;
            max-width: 750px;
            margin: 0 auto;
        }

        .banner {
            width: 100%;
            height: 20vh;
            background-image: url("{{ url_for('static', filename='banner.jpg') }}");
            background-position: center;
            background-size: contain;
            background-repeat: repeat;
        }

        h1.title {
            color: white;
            font-size: 3rem;
        }

        .restaurant-list {
            overflow: scroll;
            width: 100%;
            height: calc(20vh - 30px);
            position: relative;
        }

        .card-title,
        .card-subtitle {
            display: inline;
        }

        #map {
            width: 100%;
            height: 50vh;
            margin: 20px auto 20px auto;
        }

        .iw-inner {
            padding: 10px;
            font-size: smaller;
        }

        .container {
            padding: 10px;
        }
    </style>
    <script>
        let map;

        $(document).ready(function () {
            mapboxgl.accessToken =
                "pk.eyJ1IjoibWlmdGFjaHVsaHVkYWFhIiwiYSI6ImNsOHZoMmVseDBkc2EzdmxtZmxmdzk5YXgifQ.q60T1roWKtzhwf1GJcYvSw";
            map = new mapboxgl.Map({
                container: "map",
                center: [140.610281, 35.571627],
                zoom: 7,
                style: "mapbox://styles/mapbox/streets-v11",
                hash: true,
                transformRequest: (url, resourceType) => {
                    if (resourceType === "Source" && url.startsWith("http://myHost")) {
                        return {
                            url: url.replace("http", "https"),
                            headers: { "my-custom-header": true },
                            credentials: "include",
                        };
                    }
                },
            });

            let nav = new mapboxgl.NavigationControl({
                visualizePitch: true,
            });
            map.addControl(nav, "bottom-right");

            get_restaurants();

            let initials = [
                [139.710281, 35.671627],
                [139.810281, 35.671627],
                [139.910281, 35.671627],
                [140.010281, 35.671627],
                [140.110281, 35.671627],

                [139.710281, 35.571627],
                [139.710281, 35.471627],
                [139.710281, 35.371627],
                [139.710281, 35.271627],
                [139.710281, 35.171627],

                [139.810281, 35.171627],
                [139.910281, 35.171627],
                [140.010281, 35.171627],
                [140.110281, 35.171627],


                [140.810281, 35.671627],
                [140.810281, 35.571627],
                [140.810281, 35.471627],
                [140.810281, 35.371627],
                [140.810281, 35.271627],
                [140.810281, 35.171627],

                [140.410281, 35.671627],
                [140.410281, 35.571627],
                [140.410281, 35.471627],
                [140.410281, 35.371627],
                [140.410281, 35.271627],
                [140.410281, 35.171627],

                [140.510281, 35.671627],
                [140.610281, 35.671627],
                [140.710281, 35.671627],

                [140.510281, 35.471627],
                [140.610281, 35.471627],
                [140.710281, 35.471627],


                [141.110281, 35.671627],
                [141.110281, 35.571627],
                [141.110281, 35.471627],
                [141.110281, 35.371627],
                [141.110281, 35.271627],
                [141.110281, 35.171627],

                [141.210281, 35.171627],
                [141.310281, 35.171627],
                [141.410281, 35.171627],
                [141.510281, 35.171627],


                [141.810281, 35.671627],
                [141.810281, 35.571627],
                [141.810281, 35.471627],
                [141.810281, 35.371627],
                [141.810281, 35.271627],
                [141.810281, 35.171627],

                [141.910281, 35.671627],
                [142.010281, 35.671627],
                [142.110281, 35.671627],
                [142.210281, 35.671627],

                [141.910281, 35.471627],
                [142.010281, 35.471627],
                [142.110281, 35.471627],
                [142.210281, 35.471627],

                [141.910281, 35.171627],
                [142.010281, 35.171627],
                [142.110281, 35.171627],
                [142.210281, 35.171627],
            ];

            for (let i = 0; i < initials.length; i++) {
                new mapboxgl.Marker({ color: 'red' }).setLngLat(initials[i]).addTo(map)
            }
        });

        function get_restaurants() {
            $('#restaurant-box').empty();
            $.ajax({
                type: 'GET',
                url: '/restaurants',
                data: {},
                success: function (response) {
                    let restaurants = response["restaurants"];
                    for (let i = 0; i < restaurants.length; i++) {
                        let restaurant = restaurants[i];
                        console.log(restaurants);
                        make_card(i, restaurant);
                        make_marker(restaurant);
                        add_info(i, restaurant);
                    }
                }
            })
        }

        function make_card(i, restaurant) {
            let html_temp = `
                    <div class="card" id="card-${i}" onclick="map.flyTo({center: [${restaurant.center}]}); scroll_to_card(${i});">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="${restaurant.link}" class="restaurant-title">${restaurant.name}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">${restaurant.categories}</h6>
                            <p class="card-text">${restaurant.location}</p>
                            <button class="btn btn-danger" onclick="delete_restaurant('${restaurant.name}')">Delete</button>
                        </div>
                    </div>
            `;
            $('#restaurant-box').prepend(html_temp);
        }

        function make_marker(restaurant) {
            new mapboxgl.Marker().setLngLat(restaurant.center).addTo(map);
        }

        function add_info(i, restaurant) {
            new mapboxgl.Popup({
                offset: {
                    bottom: [0, -35],
                },
            })
                .setLngLat(restaurant.center)
                .setHTML(`
                <div class="iw-inner" onclick="map.flyTo({center: [${restaurant.center}]}); scroll_to_card(${i});">
                    <h5>${restaurant.name}</h5>
                    <p>${restaurant.location}</p>
                </div>
            `)
                .setMaxWidth('360px')
                .addTo(map);
        }

        function scroll_to_card(i) {
            $("#restaurant-box").animate(
                {
                    scrollTop:
                        $("#restaurant-box").get(0).scrollTop +
                        $(`#card-${i}`).position().top,
                },
                1000
            );
        }

        function delete_restaurant(name) {
            $.ajax({
                type: 'POST',
                url: '/restaurant/delete',
                data: {
                    name: name
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        window.location.reload();
                    } else {
                        alert('something went wrong. . .');
                    }
                }
            });
        }

        function create_restaurant() {
            let name = $('#input-name').val();
            let categories = $('#input-categories').val();
            let location = $('#input-location').val();

            let longitude = $('#input-longitude').val();
            let latitude = $('#input-latitude').val();

            longitude = parseFloat(longitude);
            latitude = parseFloat(latitude);

            $.ajax({
                type: 'POST',
                url: '/restaurant/create',
                data: {
                    name: name,
                    categories: categories,
                    location: location,
                    longitude: longitude,
                    latitude: latitude,
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        window.location.reload();
                    } else {
                        alert('something went wrong. . .');
                    }
                }
            });
        }
    </script>
</head>

<body>
    <div class="wrap">
        <div class="banner">
            <div class="d-flex flex-column align-items-center"
                style="background-color: rgba(0,0,0,0.5); width: 100%; height: 100%;">
                <h1 class="title mt-5 mb-2">Restaurant Map</h1>
            </div>
        </div>
        <div id="map"></div>

        <div class="restaurant-list" id="restaurant-box">
            <div class="card" id="card-0">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="restaurant-title">K's dinner</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pizza</h6>
                    <p class="card-text">Roan Kingdom</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card-body">
                <div class="mb-3">
                    <label for="input-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="input-name" placeholder="Input restaurant name">
                </div>
                <div class="mb-3">
                    <label for="input-categories" class="form-label">Categories</label>
                    <input type="text" class="form-control" id="input-categories"
                        placeholder="Input restaurant categories">
                </div>
                <div class="mb-3">
                    <label for="input-location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="input-location" placeholder="Input restaurant location">
                </div>
                <div class="mb-3">
                    <label for="input-longitude" class="form-label">Longitude</label>
                    <input type="number" class="form-control" id="input-name" placeholder="Input restaurant longitude">
                </div>
                <div class="mb-3">
                    <label for="input-latitude" class="form-label">Latitude</label>
                    <input type="number" class="form-control" id="input-name" placeholder="Input restaurant latitude">
                </div>
                <button type="button" class="btn btn-primary" onclick="create_restaurant()">Create</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>